# .mailmap file for Group SY5-Poulet
ShinraOnFire <shinraonfire@mailfence.com> vincentf <florian.vincent@etu.u-paris.fr>
ShinraOnFire <shinraonfire@mailfence.com> VINCENT florian <florian.vincent@etu.u-paris.fr>
ShinraOnFire <shinraonfire@mailfence.com> florian <florian@debian>

Iyan Nazarian <iyan.nazarian@etu.u-paris.fr> NAZARIAN iyan <iyan.nazarian@etu.u-paris.fr>

Theo Polgar <theo@polgar.fr> POLGAR theo <theo.polgar@etu.u-paris.fr>
Theo Polgar <theo@polgar.fr> Theo <theo.polgar@etu.u-paris.fr>
Theo Polgar <theo.polgar@etu.u-paris.fr> Theo <theo@polgar.fr>
